@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 6.5rem;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 90%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media screen and (max-width: 600px)  {
    body {
      background-color: red;
    }
  #poi{
    margin-left: 40px;
   max-width: 0px;
    max-height: 0px;
    font-size: 0px;
    border-color: black;
  }
  #poi1{
    margin-left: -30px;
   max-width: 30px;
    max-height: 30px;
  }
  #btn1{
    max-width: 60px;
    max-height: 30px;
    font-size: small;
  }
  #btn2{
    margin-left: -20px ;
    max-width: 60px;
    max-height: 30px;
    font-size: small;
  }
  #btn3{
    margin-left: -20px ;
    max-width: 60px;
    max-height: 30px;
    font-size: small;
  }
  #btn4{
    max-width: 30px;
    height: 30px;
    font-size: small;
  }
 #uio{
       margin-left: -50px;
        max-width: 50px;
        max-height: 20px;
        font-size: 0px;
    }
    .sng1{
        font-size: 6.7px ;
    }
    .sng2{
        font-size: 11px ;
        margin-left: -50px;
        margin-bottom: 20px;
    }
.sng3{
    max-width: 500px;
    max-height: 500px;
}
  }
  @media (min-width:600px) and ( max-width: 800px)  {
    body {
      background-color: red;
    }
  #poi{
    margin-left: 40px;
   max-width: 100px;
    max-height: 20px;
    font-size: 0px;
  }
    .sng1{
        font-size: 11px ;
    }
.sng3{
    max-width: 700px;
    max-height: 700px;
}
  }
  @media (min-width:700px) and ( max-width: 1200px)  {
  #poi{
    margin-left: 40px;
   max-width: 140px;
    max-height: 20px;
    font-size: 0px;
  }
    .sng1{
        font-size: 12px ;
    }
.sng3{
    max-width: 900px;
    max-height: 900px;
}
  }
 
.search{
     margin-left: 40%;
     border-radius: 30px;
     border-color: rgb(152, 152, 238);
     width: 220px;
     height: 30px;
     font-size: 16px;
     text-align: center;
  }
  .img{
    width: 40px;
    height: 40px;
  margin-left: 10px;
  
  }
  